body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header, 
.head {
  display: flex;
  background-color: #1F2937;
  margin: 0;
}

.header,
.head,
.secondaryText,
.title,
.signUp {
  font-family: Arial, 'Times New Roman', serif;
}

.header {
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  margin-top: 10px;
  border-radius: 50px; 
  width: 120px;
  height: auto;
  

}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px
}

a,
.secondaryText {
  font-size: 18px;
  color: #E5E7EB;
}

a {
  text-decoration: none;
}

.head {
  justify-content: center;
  gap: 40px
}

.title {
  flex-wrap: wrap;
  color: #F9FAF9; 
  font-weight: bolder;
  font-size: 48px;
  width: 400px;
  margin-bottom: 0;

}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondaryText {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-bottom: 10px
}

.codeImg {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  border-style: inset;
  border-color: white;
  border-radius: 50px;
  margin-left: 100px;
  width: 200px;
  height: 200px;
}

.signUp {
  margin-right: auto;
  border-style: none;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 100px;
  padding: 15px;
  font-size: 15px;
}