.hipsContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 420px;
  background-color: #E5E7EB;
}

.hipsSubContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.quote,
.author {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.quote {
  display: flex;

}

.author {
  display: flex;
  justify-content: flex-end;
}
