.legsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.legsSubContainer {
  display: flex;
  background-color: #3882F6;
  color: white;
  justify-content: center;
  width: 1400px;
  padding: 20px;
  border-radius: 25px;
  flex-wrap: wrap;
}

.legsSubExtra {
  padding: 20px
}

.subDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 320px;
  margin-bottom: auto;
}

.legSignUp {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  padding: 10px;
  height: 40px;
  width: 150px;
  background-color: #3882F6;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

