.subTitle,
.travel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: black;
  font-size: 36px;
}

.travel {
  margin-left: 10px;
  color: darkcyan;
}

.shoulderContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}

.countries {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  list-style-type: none;  
  gap: 100px; 
  padding: 20px; 
  margin: 0px 20px;
}

.country {
  width: 300px;
  height: 200px;
}

.country,
.infoP {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.country {
  border-style: solid;
  border-radius: 25px
}